$Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
$Desaturated-Dark_Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$Light-Grayish-Blue: hsl(210, 46%, 95%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

@mixin media-lg {
  @media screen and (min-width: 740px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

.pi1r {
  padding-inline: 2rem;
}