@include media-lg {
  .article {
    grid-template-columns: .8fr 1.5fr;

    .article__image {
      border-radius: 10px 0 0 10px;
    }
  }


  .share__panel {
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $Very-Dark-Grayish-Blue transparent transparent transparent;
    }

    width: clamp(36%, 35%, 30%);
    justify-content: space-around;
    align-items: center;
    left: 76%;
    height: 3rem;
    bottom: 30%;
    border-radius: 10px;

    span {
      font-size: 100%;
    }

    &__links a img {
      width: 20px;
      height: 20px;
    }

    .share-btn {
      display: none;
    }
  }

}