$Very-Dark-Grayish-Blue: 217, 19%, 35%;
$Desaturated-Dark_Blue: 214, 17%, 51%;
$Grayish-Blue: 212, 23%, 69%;
$Light-Grayish-Blue: 210, 46%, 95%;

$fw-regular: 500;
$fw-bold: 700;
$fw-black: 800;

$fs-400: 1.125rem;
$fs-500: 1.25rem;
$fs-600: 1.5rem;
$fs-700: 1.75rem;
$fs-800: 2rem;
$fs-900: 5rem;

*, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

.attribution {
  font-size: $fs-500;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}